# Gradle
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# Loom / Stonecutter
.stonecutter/
versions/*/build/
run/
runs/
remappedSrc/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Eclipse / VSCode
.classpath
.project
.settings/
bin/
.vscode/

# OS
.DS_Store
Thumbs.db

# AI Slop things
.ai/
.claude/